<% remote_form_for(Question.new) do |f| %>
  <%= f.error_messages %>
    <p id="question_author">
      <label><span>Dein Name</span></label>
      <div style="float: left;">
      <% if logged_in? %>
        <label><input type="radio" name="author" value="true" checked="checked" /> <%= current_user.name %> (Benachrichtigung bei Antwort)</label><br />
        <label><input type="radio" name="author" value="false" /> Anonym</label>
      <% else %>
        Anonym. <a href="#" class="signup_required">Ich möchte mich anmelden</a>
      <% end %>
      </div>
    </p>
  <p id="question_body" style="clear:both">
    <label><span>Deine Frage</span></label><%= f.text_area :body, :cols => 45, :rows => 7 %>
  </p>
  <p>
    <label>
      <span>&nbsp;</span>
      <%= f.submit "Frage stellen" %> oder <a href="#" class="toggle cancel-new_question">abbrechen</a>
    </label>
  </p>
<% end %>
