<div class="page">
  <div class="header">
    <h2>Deine Fragen an Armin</h2>
  </div>
  <div class="content">
    <% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
    <div class="navbar">
      <a href="#" class="toggle trigger-new_question button">Neue Frage stellen</a>  
      <div class="hidden toggle target-new_question">
        <%= render :partial => 'new' %>
      </div>
    </div>
    <p class="navbar">
      Fragen können auch anonym gestellt werden!
    </p>
    <div class="itemlist">
      <% @show_comments = false %>
      <%= render :partial => "inline", :collection => @questions, :as => :question %>
    </div>
  </div>
</div>
