<div class="page" id="page_question">
  <%= link_to "&larr; Zurück zur Fragen-Übersicht", questions_path, :class => 'backbutton' %>
    
  <div class="content">
    <% @show_comments = true %>
    <%= render :partial => 'inline', :locals => { :question => @question } %>
  </div>
  
</div>