<li id="task_<%= task.id %>">
  <h3><%=link_to h(task.title || '#'), url_for([task.project, task]) %></h3>
  <div class="comments"><%= comment_indicator(task, [task.project, task]) %></div>
  <div class="participants"><%= task.participants.collect { |u| avatar(u, 24) } %></div>
</li>
