<div class="page">
  <div class="header">
    <h2>Wir in den Medien</h2>
  </div>
  <div class="content">
    <iframe src="<%= CONFIG["elsewhere_iframe_url"] %>" width="100%" height="10000"></iframe>
    <a class="attribution" href="<%= CONFIG["elsewhere_link_url"] %>">Powered by Soup.io</a>
  </div>
</div>