<div class="boxrow">
  <div class="box box_2wide" id="blogs">
    <h2>Blogs, Twitter & YouTube</h2>
    <div class="content">
      <iframe src="<%= CONFIG["elsewhere_iframe_url"] %>" width="510" height="850"></iframe>
      <a class="attribution" href="<%= CONFIG["elsewhere_link_url"] %>">Powered by Soup.io</a>
    </div>
  </div>

  <div>
    <div class="box" id="elsewhere">
      <h2><%= CONFIG["title"] %> im Netz</h2>
      <div class="content faviconlist">
        <ul>
          <li><a style="background-image:url(/favicon.ico)" href="http://www.heide-schmidt-blog.at/">Heide Schmidt Blog</a></li>
          <li><a style="background-image:url(/favicon.ico)" href="http://www.pohoryles.at/">Blog: Ronald Pohoryles</a></li>
          <li><a style="background-image:url(/favicon.ico)" href="http://www.karinresetarits.at/blog.php">Blog: Karin Resetarits</a></li>
          <li><a style="background-image:url(/favicon.ico)" href="http://blog.eppelein.com/">Blog: Alexander Eppelein</a></li>
          <li><a style="background-image:url(/images/elsewhere/profil.png)" href="http://wahlblog.profil.at/schmidt/">Profil Wahlblogs: Schmidt</a></li>
          <li><a style="background-image:url(/images/elsewhere/oe24.png)" href="http://blog.oe24.at/lif_wahlblog/">oe24 Wahlblogs: Zach</a></li>
          <li style="border-top: 1px solid #ddd; padding-top: 3px;"><a style="background-image:url(/images/elsewhere/meinparlament.png)" href="http://www.meinparlament.at/index.php?cmd=10243&id=0&filter=p_165_fm">Meinparlament.at</a></li>
          <li><a style="background-image:url(/images/elsewhere/wahlbarometer.png)" href="http://www.wahlbarometer.at/index.php?partei=lif">Wahlbarometer.at</a></li>
          <li><a style="background-image:url(/images/elsewhere/e-lection.png)" href="http://derstandard.at/?url=http%3A//e-lection.derstandard.at/Trading/share.php%3Fshare_id%3D8">E-Lection Wahlbörse</a></li>
          <li><a style="background-image:url(/images/elsewhere/wahlfieber.png)" href="http://www.wahlfieber.at/Trade/aktie?aid=A-2008-NR-I-LIF&charttype=1&chartrange=1&chartvolume=20&change_ld=">Wahlfieber Wahlbörse</a></li>
          <li style="border-top: 1px solid #ddd; padding-top: 3px;"><a style="background-image:url(/images/elsewhere/medienbeobachtung.png)" href="http://wahl08.wissenbelastet.com/?s=LIF">Medienbeobachtung</a></li>
          <li><a style="background-image:url(/images/elsewhere/neuwal.png)" href="http://neuwal.com/index.php/tag/lif/">Neuwal</a></li>
        </ul>
        <div id="networks" style="border-top: 1px solid #ddd; padding-top: 3px;">
          <ul>
            <li><a style="background-image:url(/images/networks/myspace.png)" href="http://www.myspace.com/liberalesforum">MySpace</a></li>
            <li><a style="background-image:url(/images/networks/studivz.png)" href="http://www.studivz.net/Groups/Overview/a0f595e176470e99">StudiVZ</a></li>
            <li><a style="background-image:url(/images/networks/netlog.png)" href="http://de.netlog.com/liberalesforum">Netlog</a></li>
            <li><a style="background-image:url(/images/networks/sms.png)" href="http://my.sms.at/liberales_forum/">SMS.at</a></li>
            <li><a style="background-image:url(/images/networks/planetromeo.png)" href="http://www.planetromeo.com/LIF_Anderslieben">PlanetRomeo</a></li>
          </ul>
          <ul>
            <li><a style="background-image:url(/images/networks/facebook.png)" href="http://www.new.facebook.com/group.php?gid=18563377854">Facebook</a></li>
            <li><a style="background-image:url(/images/networks/youtube.png)" href="http://www.youtube.com/user/wwwliberaleat">YouTube</a></li>
            <li><a style="background-image:url(/images/networks/soup.png)" href="http://lif.soup.io">Soup.io</a></li>
            <li><a style="background-image:url(/images/networks/szene1.png)" href="http://szene1.at/user/liberalesforum">Szene1</a></li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>  
   
</div>
