body {
  font-family: Lucida, 'Lucida Sans', 'Lucida Grande', Arial, Helvetica, sans-serif;
  font-size: 87%;
  line-height: 1.5em;
  margin: 20px 0 0 80px;
  /* background: #fff url(/images/bg.jpg) top right no-repeat; */  
  background: #fff url(/images/bgpattern1.jpg) top left no-repeat fixed;
}

h1, h2, h3, h4, .number {
  color: #000;  
  letter-spacing: -.02em;
  font-weight: bold;
}
h1, .number { font-size: 2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; margin: 1em 0 .5em 0; color: #666; }

.navbar label { overflow: hidden; margin-bottom: .5em; }
.navbar label span { width: 10em; float: left; }
.navbar input, .navbar textarea { width: 600px; }
.navbar input[type=submit] { width: auto; }
input#idea_title { font-size: 1.3em; font-weight: bold; }

textarea {
  font-family: Arial, Helvetica, sans-serif;
  padding: .2em;
  font-size: 1em;
}

a.button {
  display: block;
  float: left;
  text-decoration: none;
  padding: .4em 1.2em;  
  border-radius: 1.2em; 
}

a.backbutton {
  float: right;
  margin: .6em;
  text-decoration: none;
  padding: .1em 1em;
  border-radius: .7em;
  background: #dde0e5;
  font-size: .9em;
  color: #000;
}

#container { width: 800px; }

#header {
  margin: 10px;
  width: 950px;
  height: 140px;
  background: url(/images/header.jpg);
}
#content {
  width: 810px;
  padding: 0 0 10px 10px;
  overflow: hidden;
}

#header h1 {
  padding: 35px 0 0 0;
}

#header h1 a { text-decoration: none; }

#headermenu {
  float: right;
  width: 320px;
  margin: 13px 100px 0 0;
}
#headermenu li {
  float: left;
}

ul#topmenu { 
  list-style: none; 
  overflow: hidden;
  margin: 0 0 1em 1em;
  padding: .4em;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
}

ul#topmenu li {
  float: left;
}

ul#topmenu li a {
  display: block;
  padding: .5em 1em;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: .5em;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
}

ul#topmenu li.active a {
  text-decoration: none;
}  

#menucontainer {
  margin-bottom: 3em;
  margin-left: 10px;  
}
.menu {
  list-style: none;
  overflow: hidden;
  padding: 10px 0;
}
.menu_secondary {
  margin-top: 5px;
  padding: 5px 0;
}

#loggedin {
  background-color: #fff;
  font-size: .9em;
  color: #000;
  margin-bottom: 5px;
  padding: 5px 10px;
  line-height: 1.2em;
}

.menu li {
  float: left;
  margin: 0 0 0 5px;
}

.menu li.go {
  color: #000;
  padding: .3em 1em;
}

.menu li a {
  display: block;
  padding: .2em .8em;
  background-color: #fff;
  font-weight: bold;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
}


.box {
  float: left;
  margin: 0 10px 0 0;  
}

.page .content, .box .content {
  overflow: hidden;
  padding: 10px;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
}

.box h2 {
  font-size: 1em;
  padding: .2em .3em .1em .7em;
  -moz-border-radius-topleft: .5em;
  -webkit-border-top-left-radius: .5em;
  -moz-border-radius-topright: .5em;
  -webkit-border-top-right-radius: .5em;
}

.box h2 .right {
  float: right;
}

.page h2 {
  font-weight: normal;
  font-size: 2em;
  margin: 0;
  padding: 25px 20px 0 20px;
  -moz-border-radius-topleft: .5em;
  -webkit-border-top-left-radius: .5em;
  -moz-border-radius-topright: .5em;
  -webkit-border-top-right-radius: .5em;
}
.page h2 .code {
  letter-spacing: 0;
  font-size: .75em;
  font-weight: normal;
  margin-left: .5em;
  color: #ccc;
}

.page .content {
  padding: 20px;
  padding-bottom: 2em;
}

.itemlist { border-bottom: 1px solid #999; }
.itemlist li {
  border-top: 1px solid #ccc;
  padding: .3em 0;
  overflow: hidden;
}
.itemlist li h3 {
}
.rating {
  float: left;
  margin-right: 1em;
  text-align: center;
}
.rating .value {
  font-size: 2.5em;
  letter-spacing: -.03em;
  font-weight: bold;  
  width: 45px;
  padding: .3em 0 0 0;
}
.rating .vote a {
  display: block;
  float: left;
  width: 22px;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 4px;
}

p.body {
  color: #000;
  margin: 1em 0;  
}

.comments {
  border-top: 1px solid #ccc;
}

.navbar {
  clear: both;
  overflow: hidden;
  margin-bottom: 1em;
}

.comments .navbar {
  margin-top: 1em
}

#tasks {
  width: 260px;
  height: 300px;
}
#tasks h2 {
  font-weight: normal;
  font-size: 1.8em;
  padding: 10px 0 10px 10px;
}
#tasks ul {
  list-style-type: disc;
  padding-left: 1em;
}
#tasks li {
  margin-bottom: .3em;
}
#tasks li a {
  text-decoration: none;  
}
#tasks li a:hover {
  text-decoration: underline;
}

#map-container .content, #tasks .content {
  margin-bottom: 0;
  padding-bottom: 0;
}


#tasks .content {
  height: 283px;
  overflow-y: scroll;
}

.rating-button {
  padding: .2em .4em;
  font-weight: bold;
}

#tasks ul { 
  list-style: none;
  margin: 0 0 1em 0; padding: 0;
}
#tasks ul li {
  margin: 0; padding: 0;
}

#tasks ul h3 {
  font-size: 1.2em;
  font-weight: normal;  
}
#tasks ul .byline {
  font-size: .9em;
}

#tasks .more {
}


/* COLORS */

body {
  /*background-color: #eee;*/
  color: #333;
}

.rating, .rating .vote a {
  color: #fff;
}
.rating .vote a {
  color: rgba(255, 255, 255, .4);
}
.rating .vote a:hover {
  background: #000;
  color: #fff;
}

#tasks .content a {
  color: #000;  
}

ul#topmenu {
  background-color: rgba(255, 255, 255, .9); 
}

ul#topmenu li.active a, .menu li.active a {
  background: #ab3857;
  color: #fff;
}

.box .content, .page .content {
  background-color: #fff;
}
.page h2 {
  background-color: #fff;
  color: #697b3c; /* beige green ccbe39 */
}

a {
  color: #4c5520;
}

.menu .active a, .box h2, .user_official {
  color: #fff;
}

.menu .active a {
  text-decoration: none;  
}

.page { width: 800px; }

.page h2, .menu {
  /* background-color: #fff; */
}

.rating, a.button, .rating-button, .myconstituency, .user_official, #progress .bar {
  background-color: #697b3c; /*ccbe39;*/
}
.box h2 {
  background-color: #697b3c;
}

a.button {
  color: #fff;
}

.menu_secondary a { color: #666; }

#events .nearme {
  background-color: #f6f3e0; 
}


/* #tasks .content {
  background: #d4d9dd;
}*/

.menu li a, .user_official {
  font-weight: bold;
}

.boxrow {
  clear: both;
  overflow: hidden;
  margin-bottom: 10px;
}
.boxrow .box {
  width: 260px;
}
.boxrow .box_2wide { width: 530px; }
.boxrow .box .content {
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}

.rating a {
  color: #736200;  
}


#refer label {
  font-weight: bold;
  display: block;
  float: left;
  clear: left;
  width: 100px;
  font-size: .9em;
}

#refer input[type=text], #refer textarea {
  width: 380px;
}

/* toggle.js */
.hidden { display:none; }
/* signup */
#signup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  z-index: 100;
  background: url(/images/black80.png);
  display: none;
}

#signup #map-container, #signup #form {
  margin: 10px 0 0 10px;  
}

#signup #cancel {
  position: absolute;
  right: 30px;
  bottom: 10px;
}

#signup #cancel a {
  color: #fff;
}

#signup .error {
  font-weight: bold;
}

#map-container {
  width: 530px;  
}

#map-container .content {
  width: 225px;
  float: left;
  height: 180px;
  position: relative;
}

#map {
  position: absolute;
  left: 0;
  top: 0;  
}

#map {
  border: 0;
  width: 100%;
  height: 100%; 
  z-index: 9;
}

#progress {
  border: 2px solid #ccc;
  padding: 2px;
}
#progress .bar {
  height: 19px;
  float: left;
  margin-right: .4em;
}

#networks ul {
  width: 50%;
  float: left;
}
.faviconlist ul li {
  margin-bottom: .3em;
}
.faviconlist ul li a {
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: top left;
  color: #000;
  text-decoration: none;
}

#new_idea p.error label {
  font-weight: bold; 
}


#events .event {
  overflow: hidden;
  margin-bottom: .5em;  
}

#events .calendar {
  width: 49px;
  height: 59px;
  background: url(/images/calendar.gif) left top no-repeat;  
  color: #000;
  float: left;
  clear: both;
  margin: 0 .6em 0 0;
}
#events .d {
  font-size: 1.8em;
  font-weight: bold;
  letter-spacing: -.02em;
  padding: .6em 0 .2em 0;
  width: 46px;
  text-align: center;
}
#events .m {
  width: 46px;
  font-size: .8em;
  text-align: center;
  text-transform: uppercase;  
}

#events h3 {
  font-size: 1.3em;
}

#events .desc {
  float: left;
  padding-top: .5em;
}

#events .desc {
  width: 180px;
}
.page #events .desc {
  width: 600px;
}

.comment .edit {
  margin-bottom: 2em;
}

.comment .body {
  margin: 0 0 1em 0;  
}

.candidate .portrait {
  float: left;
  margin: 0 .5em .5em 0;
}
.candidate .name {
  font-weight: bold;  
}

.tabs ul { 
  overflow: hidden;
  border-bottom: 1px solid #aaa;
}
.tabs ul li {
  float: left;
  background-color: #ddd;
  border: 1px solid #aaa;
  border-bottom: 0;
  margin-right: 2px;
  position: relative;
  top: 2px;
  z-index: 9;
}
.tabs ul li a {
  color: #666;
  text-decoration: none;
  padding: .3em .5em;
}
.tabs .tabcontent {
  display: none;
  margin-top: .5em;
  padding: .5em 0 1.5em 0;
  height: 150px;
}
.state-tab1 div.tab1,
.state-tab2 div.tab2,
.state-tab3 div.tab3,
.state-tab4 div.tab4,
.state-tab5 div.tab5 { display: block; }
.state-tab1 li.tab1,
.state-tab2 li.tab2,
.state-tab3 li.tab3,
.state-tab4 li.tab4,
.state-tab5 li.tab5 { top: 0; background-color: #fff; }
.state-tab1 li.tab1 a,
.state-tab2 li.tab2 a,
.state-tab3 li.tab3 a,
.state-tab4 li.tab4 a,
.state-tab5 li.tab5 a { color: #000; }

.footer { margin: 0 2em 0 1.5em; font-size: .9em; color: #888; }
.footer a { color: #888; }

a.attribution {
  display: block;
  padding: 1em 0;
  color: #666;
  font-size: .85em;
}

#buttons li {
  overflow: hidden;
}
#buttons h4 {
  font-size: 1em;  
}
#buttons textarea {
  width: 500px;
  height: 40px;
}
#buttons .button_image {
  clear: both;
  float: left;
  width: 150px;
  text-align: center;
}
#buttons .button_code {
  float: left;
  width: 600px;
}


#instructions {
  float: left;
  width: 400px;
  margin-left: 30px;
}
#instructions ul, #privacypolicy ul {
  margin: 0 0 1em 0;
}
#instructions ul, #privacypolicy ul {
  list-style: disc;
  padding-left: 1.5em;
}
#instructions ol {
  list-style: decimal;
  padding-left: 1.5em;  
}
#instructions li {
  margin: .2em 0 0 0;  
}


#videos .video {
  float: left;
  width: 250px;
  margin-right: 10px;  
}
#videos .video strong {
  display: block;
  margin-top: .3em;
}

#about p {
  margin: 1em 0;
}
.comment .body p {
  margin: 0 0 1em 0;  
}

.idea {
  padding: 0 0 1em 0;  
}
#page_idea .comments {
  margin-left: 57px;
}

.myconstituency {
  float: right;
  padding: .1em .5em;
  margin: .3em;
}

#wahltotal {
  margin-top: 10px;
}

#candidates .candidate {
  clear: both;  
}

.user_official {
  margin-left: .5em;
  padding: 0 .3em;
  font-size: .9em;
}

#page_question .question .body {
  font-size: 1.2em;  
  margin-bottom: .5em;
}
li.question span {
  color: #999;
}

#page_question .reply {
  padding-left: 3em;
  margin-top: 1em;
}

#admin .page {
  background: #fff;
  padding: 1em;
}

#projectlist .project {
  margin: 0 0 1em 0;
  line-height: 1.5em;
}
#projectlist .teaser {
  margin: .5em 0 1em 0;
}
#projectlist .body {
  display: none;
}
#projectlist .open .body {
  display: block;
}

#about ul {
  list-style: disc;
  margin: 0 0 1em 0;
  padding-left: 1.5em;  
}
