body {
  font-family: Lucida, 'Lucida Sans', 'Lucida Grande', Arial, Helvetica, sans-serif;
  font-size: 87%;
  line-height: 1.6em;
  margin: 20px 0 0 20px;
  /* background: #fff url(/images/bg.jpg) top right no-repeat; */  
  background: #fff url(/images/bg2.jpg) top right no-repeat;
}

h1, h2, h3, h4, .number {
  color: #000;  
  letter-spacing: -.02em;
  font-weight: bold;
}
h1, .number { font-size: 2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; margin: 1em 0 .5em 0; color: #666; }

.navbar label { overflow: hidden; margin-bottom: .5em; }
.navbar label span { width: 10em; float: left; }
.navbar input, .navbar textarea { width: 600px; }
.navbar input[type=submit], .navbar input[type=checkbox], .navbar input[type=radio] { width: auto; }
input#idea_title { font-size: 1.3em; font-weight: bold; }

textarea {
  font-family: Arial, Helvetica, sans-serif;
  padding: .2em;
  font-size: 1em;
}

a.button {
  display: block;
  float: left;
  text-decoration: none;
  padding: .4em 1.2em;  
  border-radius: 1.2em; 
}


a.backbutton {
  float: right;
  margin: .6em;
  text-decoration: none;
  padding: .1em 1em;
  border-radius: .7em;
  background: #dde0e5;
  font-size: .9em;
  color: #000;
}

#container { width: 800px; }

#header {
  float: left;
}
#content {
  clear: both;
  width: 810px;
  padding: 0 0 10px 10px;
  overflow: hidden;
}

#header h1 {
  padding: 35px 0 0 0;
}

#header h1 a { text-decoration: none; }

#logo { float: left; margin-right: 2em; }

#headermenu {
  float: right;
  width: 320px;
  margin: 13px 100px 0 0;
}
#headermenu li {
  float: left;
}

ul#topmenu { 
  list-style: none; 
  overflow: hidden;
  margin: 0 0 0 .7em;
  padding: .4em;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
}

ul#topmenu li {
  float: left;
}

ul#topmenu li a {
  display: block;
  padding: .5em 1em;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: .5em;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
}

ul#topmenu li.active a {
  text-decoration: none;
}  

#menucontainer {
  margin-bottom: 1em;
  margin-left: 10px;  
}
.menu {
  list-style: none;
  overflow: hidden;
  padding: 10px 0;
}

#loggedin {
  clear: both;
  font-size: .9em;
  color: #000;
  margin: 0px 0 5px 5px;
  padding: 5px 10px 5px 13px;
  line-height: 1.2em;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
}

.menu li {
  float: left;
  margin: 0 0 0 5px;
}

.menu li.go {
  color: #000;
  padding: .3em 1em;
}

.menu li a {
  display: block;
  padding: .2em .8em;
  background-color: #fff;
  font-weight: bold;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
}


.box {
  float: left;
  margin: 0 10px 0 0;  
}

.page .content, .box .content {
  overflow: hidden;
  padding: 10px;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
}

.box h2 {
  font-size: 1em;
  padding: .2em .3em .1em .7em;
  -moz-border-radius-topleft: .5em;
  -webkit-border-top-left-radius: .5em;
  -moz-border-radius-topright: .5em;
  -webkit-border-top-right-radius: .5em;
}

.box h2 .right {
  float: right;
}

.page .header {
  -moz-border-radius-topleft: .5em;
  -webkit-border-top-left-radius: .5em;
  -moz-border-radius-topright: .5em;
  -webkit-border-top-right-radius: .5em;  
}
.page h2 {
  font-weight: normal;
  font-size: 2em;
  margin: 0;
  padding: 25px 20px 10px 20px;
}
.page h2 .code {
  letter-spacing: 0;
  font-size: .75em;
  font-weight: normal;
  margin-left: .5em;
  color: #ccc;
}

.page .content {
  padding: 10px 20px  2em 20px;
}

.itemlist { border-bottom: 1px solid #999; }
.itemlist li {
  border-top: 1px solid #ccc;
  padding: .3em 0;
  overflow: hidden;
}
.itemlist li h3 {
}
.rating {
  float: left;
  margin-right: 1em;
  text-align: center;
}
.rating .value {
  font-size: 2.5em;
  letter-spacing: -.03em;
  font-weight: bold;  
  width: 45px;
  padding: .3em 0 0 0;
}
.rating .vote a {
  display: block;
  float: left;
  width: 22px;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 4px;
}

p.body {
  color: #000;
  margin: 1em 0;  
}

.comments {
  border-top: 1px solid #ccc;
}

.navbar {
  clear: both;
  overflow: hidden;
  margin-bottom: 1em;
}

.comments .navbar {
  margin-top: 1em
}

#tasks.box {
  width: 260px;
  height: 300px;
}
#tasks.box h2 {
  font-weight: normal;
  font-size: 1.8em;
  padding: 10px 0 10px 10px;
}
#tasks.box ul {
  list-style-type: disc;
  padding-left: 1em;
}
#tasks.box li {
  margin-bottom: .3em;
}
#tasks.box li a {
  text-decoration: none;  
}
#tasks.box li a:hover {
  text-decoration: underline;
}

#map-container .content, #tasks .content {
  margin-bottom: 0;
  padding-bottom: 0;
}


#tasks.box .content {
  height: 283px;
  overflow-y: scroll;
}

.rating-button {
  padding: .2em .4em;
  font-weight: bold;
}

#tasks.box ul { 
  list-style: none;
  margin: 0 0 1em 0; padding: 0;
}
#tasks.box ul li {
  margin: 0; padding: 0;
}

#tasks.box ul h3 {
  font-size: 1.2em;
  font-weight: normal;  
}
#tasks.box ul .byline {
  font-size: .9em;
}


/* COLORS */

body {
  /*background-color: #eee;*/
  color: #333;
}

.rating, .rating .vote a {
  color: #fff;
}
.rating .vote a {
  color: rgba(255, 255, 255, .4);
}
.rating .vote a:hover {
  background: #000;
  color: #fff;
}

#tasks .content a {
  color: #000;  
}

ul#topmenu {
  background-color: rgba(255, 255, 255, .9); 
}

ul#topmenu li.active a, .menu li.active a, ul.buttonbar li a {
  background: #260;
  color: #fff;
}

.box .content, .page .content {
  background-color: #fff;
  opacity: .9;
}
.page .header {
  background-color: #fff;
  opacity: .9;
}
.page .header h2 {
  color: #000; /* 260 beige green ccbe39 */
}

a {
  color: #260;
}
.box h2 a { color: #fff; }

.menu .active a, .box h2, .user_official, .calendar .m {
  color: #fff;
}

.menu .active a {
  text-decoration: none;  
}

.page {
  width: 800px;
}

.page h5 {
  margin: .5em 0;
}

.rating, a.button, .rating-button, .myconstituency, .user_official, #progress .bar,
.calendar .m {
  background-color: #260; /*ccbe39;*/
}
a.button:hover {
  background-color: #482;
}

.box h2 {
  background-color: #260;
}

#progress .bar2 {
  border-left: 1px solid #fff;
  background: #829ACD url(/images/fblike.png) 8px 7px no-repeat;
}

#progress .current {
  float: left;
  margin-left: .5em;
}

a.button {
  color: #fff;
}

.menu_secondary a { color: #666; }

#events .nearme {
  background-color: #f6f3e0; 
}


/* #tasks .content {
  background: #d4d9dd;
}*/

.menu li a, .user_official {
  font-weight: bold;
}

.boxrow {
  clear: both;
  overflow: hidden;
  margin-bottom: 10px;
}
.boxrow .box {
  width: 260px;
}
.boxrow .box_2wide { width: 530px; }
.boxrow .box .content {
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}

.rating a {
  color: #736200;  
}


#refer label {
  font-weight: bold;
  display: block;
  float: left;
  clear: left;
  width: 100px;
  font-size: .9em;
}

#refer input[type=text], #refer textarea {
  width: 380px;
}

/* toggle.js */
.hidden { display:none; }
/* signup */
#signup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  z-index: 100;
  background: url(/images/black80.png);
  display: none;
}

#signup #map-container, #signup #form {
  margin: 10px 0 0 10px;  
}

#map-container a.disclaimer {
  font-size: .8em;
  color: #999;
}

#signup #cancel {
  position: absolute;
  right: 30px;
  bottom: 10px;
}

#signup #cancel a {
  color: #fff;
}

#signup .error {
  font-weight: bold;
}

#map-container {
  width: 530px;  
}

#map-container .content {
  position: relative;
}
#map-container .content,
#map-container #progresscontainer {
  background: #eee;
}

#map {
  position: absolute;
  left: 0;
  top: 0;  
}

#map {
  border: 0;
  width: 100%;
  height: 100%; 
  z-index: 9;
}

#progresscontainer {
  padding: .5em;
}

#progresscontainer p {
  font-size: .9em;
  padding: .3em .5em .5em .5em;
  line-height: 1.4em;
}

#progress {
  border: 2px solid #ccc;
  padding: 2px;
  background-color: #fff;
  margin: 0 0 .3em 0;
  height: 30px;
  font-size: 1.5em;
  overflow: hidden;
}
#progress .bar {
  height: 30px;
  float: left;
}
#progress .max {
  float: right;
  color: #bbb;
}
#progress .max div {
  float: right;
  font-size: .5em;
  line-height: 1em;
  padding-left: 3px;
}

#networks ul {
  width: 50%;
  float: left;
}
.faviconlist ul li {
  margin-bottom: .3em;
}
.faviconlist ul li a {
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: top left;
  color: #000;
  text-decoration: none;
}

#new_idea p.error label {
  font-weight: bold; 
}


#events .event {
  overflow: hidden;
  margin-bottom: .5em;  
}

.event .desc h3 a { 
  padding-right: 20px;
  background: url(/images/networks/facebook.png) right center no-repeat;
}

#events .calendar {
  width: 51px;
  height: 59px;
  background: url(/images/calendar.gif) left top no-repeat;  
  color: #000;
  float: left;
  clear: both;
  margin: 0 .6em 0 0;
}
#events .d {
  font-size: 1.8em;
  font-weight: bold;
  letter-spacing: -.02em;
  padding: .5em 0 .25em 0;
  width: 48px;
  text-align: center;
}
#events .m {
  width: 48px;
  font-size: .8em;
  text-align: center;
  text-transform: uppercase;  
  line-height: 1.9em;
}

#events h3 {
  font-size: 1.3em;
}

#events .desc {
  float: left;
  padding-top: .5em;
}

#events .desc {
  width: 180px;
}
.page #events .desc {
  width: 600px;
}

.comment .edit {
  margin-bottom: 2em;
}

.comment .body {
  margin: 0 0 1em 0;  
}

.candidate .portrait {
  float: left;
  margin: 0 .5em .5em 0;
}
.candidate .name {
  font-weight: bold;  
}

.tabs ul { 
  overflow: hidden;
  float: right;
  margin-top: 1px;
}
.tabs ul li {
  float: left;
  background-color: #ddd;
  margin-right: 2px;
  position: relative;
  top: 2px;
  z-index: 9;
}
.tabs ul li a {
  color: #666;
  text-decoration: none;
  padding: .3em .5em;
  font-weight: normal;
}
.tabs .tabcontent {
  display: none;
  margin-top: .5em;
  padding: .5em 0 1.5em 0;
  height: 150px;
}
.state-tab1 div.tab1,
.state-tab2 div.tab2,
.state-tab3 div.tab3,
.state-tab4 div.tab4,
.state-tab5 div.tab5 { display: block; }
.state-tab1 li.tab1,
.state-tab2 li.tab2,
.state-tab3 li.tab3,
.state-tab4 li.tab4,
.state-tab5 li.tab5 { top: 0; background-color: #fff; }
.state-tab1 li.tab1 a,
.state-tab2 li.tab2 a,
.state-tab3 li.tab3 a,
.state-tab4 li.tab4 a,
.state-tab5 li.tab5 a { color: #000; }

.footer {
  border-top: 1px solid #ddd;
  margin: 2em 2em 0 0;
  padding: .5em 0 0 ;
  font-size: .9em;
  color: #888;
}
.footer a { color: #888; }
.footer .credits, .footer .credits a { font-size: .9em; color: #bbb; }

a.attribution {
  display: block;
  padding: 1em 0;
  color: #666;
  font-size: .85em;
}

#buttons li {
  overflow: hidden;
}
#buttons h4 {
  font-size: 1em;  
}
#buttons textarea {
  width: 500px;
  height: 40px;
}
#buttons .button_image {
  clear: both;
  float: left;
  width: 150px;
  text-align: center;
}
#buttons .button_code {
  float: left;
  width: 600px;
}


#instructions {
  float: left;
  width: 400px;
  margin-left: 30px;
}
#instructions ul, #privacypolicy ul {
  margin: 0 0 1em 0;
}
#instructions ul, #privacypolicy ul {
  list-style: disc;
  padding-left: 1.5em;
}
ol {
  list-style: decimal;
  padding-left: 1.5em;  
}
#instructions li {
  margin: .2em 0 0 0;  
}


#videos .video {
  float: left;
  width: 250px;
  margin-right: 10px;  
}
#videos .video strong {
  display: block;
  margin-top: .3em;
}

#about p {
  margin: 1em 0;
}
.comment .body p {
  margin: 0 0 1em 0;  
}

.idea {
  padding: 0 0 1em 0;  
}
#page_idea .comments {
  margin-left: 57px;
}

.myconstituency {
  float: right;
  padding: .1em .5em;
  margin: .3em;
}

#wahltotal {
  margin-top: 10px;
}

#candidates .candidate {
  clear: both;  
}

.user_official {
  margin-left: .5em;
  padding: 0 .3em;
  font-size: .9em;
}

.itemlist .question {
  padding: 1em 0;
}
#page_question .question .body {
  font-size: 1.2em;  
  margin-bottom: .5em;
}

.byline {
  color: #999;
}

.question .reply {
  padding-left: 3em;
  margin-top: 1em;
}

.question .reply .body {
  font-style: italic;
}

.question {
  border-bottom: 1px solid #ccc;
}

.question .byline a.permalink {
  color: inherit;
}

li.question h3 {
  font-weight: normal;
  font-size: 1em;
}

.question .comments {
  margin-top: 2em;
  border-top: 1px solid #ccc;
}
.question .comments h3 {
  margin: 1em 0;
}



.itemlist .comment {
  padding-top: .5em;
}

#admin .page {
  background: #fff;
  padding: 1em;
}

#admin table {
  border-collapse: collapse;
  width: 100%;
}
#admin table td {
  border-bottom: 1px solid #ccc;
}
#admin table thead td {
  font-weight: bold;
  border-bottom: 1px solid #000;
}

#projectlist .project {
  padding: 1em 0 0 0; 
  line-height: 1.5em;
}
#projectlist .project h3 a {
  text-decoration: none;
}
#projectlist .project h3 a .icon:before {
  content: "▸ ";
}
#projectlist .project.open h3 a .icon:before {
  content: "▾ ";
}
#projectlist .project h3 a .label {
  text-decoration: underline;
}
#projectlist .teaser {
  margin: .5em 0 1em 0;
}
#projectlist .project.open .teaser {
  font-weight: bold;
}
#projectlist .body {
  display: none;
  padding: 0 0 1em 0;
}
#projectlist .open .body {
  display: block;
}

#about ul {
  list-style: disc;
  margin: 0 0 1em 0;
  padding-left: 1.5em;  
}

.col2 {
  -webkit-column-count: 2;
	-webkit-column-gap: 4em;
}

div.gallery img { border: 1px solid #999; }
div.gallery .credit { color: #999; font-size: .8em }

#login { display: none; }

ul.buttonbar {
  font-size: .9em;
  list-style: none !important;
  margin: 0 !important; padding: 0 !important;
}

#participate {
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
  overflow: hidden;
}  
#participate a {
  display: block;
  float: left;
  margin-right: 1em;
}
#participate p {
  font-size: .9em;
  line-height: 1.3em;
}

#project #tasks {
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}
#project #tasks h4 {
  margin: 0 0 .5em 0;
}

a.comment-count {
  text-decoration: none;
  background: url(/images/speechbubble.gif) 5px center no-repeat;
  padding: 3px 8px;
  padding-left: 25px;
  border: 0;
  border-left: 1px dotted #ccc;
  border-right: 1px dotted #ccc;
  color: #000;
}

ul.tasks {
  overflow: hidden;
}
ul.tasks li {
  clear: left;
}
ul.tasks li h3,
ul.tasks li .task_participants,
ul.tasks li .task_comments {
  float: left;
  margin-right: .5em;
}

#task #users {
  margin-bottom: 1em; 
}

#users ul {
  list-style: none;
  margin: 0; padding: 0;
}
#users ul li {
  margin: 0; padding: 0;
}

a.userinfo {
  text-decoration: none;
  color: #000;
  line-height: 24px;
}

a.userinfo img {
  margin-right: .5em;
  vertical-align: text-bottom;
}