<div class="page">
  <%= link_to "&larr; Zurück zur Startseite", root_path, :class => 'backbutton' %>
  <h2>Benutzerlöschung</h2>
  <div class="content">

    <% if @deleted %>
    
      <p>Deine Daten wurden gelöscht.</p>
    
    <% elsif logged_in? %>
      
      <p>
        Hiermit löschst du deinen Account auf <%= CONFIG["title"] %> unwiederbringlich.<br />
        Deine Nutzerdaten sowie alle Beiträge und Kommentare werden restlos entfernt.<br />
        Bist du sicher, dass du das tun willst?<br /><br />
      </p>
      <form action="#" method="POST">
        <input type="submit" value="Ja, Benutzerdaten löschen" />
        <br /><br />
      </form>
      
      <p>
        Solltest du zur Anmeldung <strong>Facebook Connect</strong> verwendet haben, kannst du
        <%= CONFIG["title"] %> jegliche Rechte, auf deine Daten zuzugreifen und dir Nachrichten zu schicken,
        entziehen: <a href="http://www.facebook.com/editapps.php">Anwendungseinstellungen</a>
      </p>
    
    <% else %>
    
      <script type="text/javascript">Event.observe(window, 'load', function() { Signup.show() });</script>
    
    <% end %>
    
  </div>
</div>
