<div class="page">
  <h2>Warum wir <%= CONFIG["org_title"] %> unterstützen</h2>
  <div class="content" id="videos">
    <div class="navbar">
      <%= link_to "Deine eigene Begründung aufnehmen", video_record_path, :class => 'signup_required button' %>
    </div>
    <% @videos.each { |video| %>
      <div class="video">
        <%= render :partial=>'embed', :locals => { :video => video } %>
        <strong><%= link_to video.user.name, video_show_path(:id => video.id) %></strong>
      </div>
    <% } %>
  </div>
</div>
