      <div class="comments">
        <% if cs = object.comments.count %>
          <% if cs > 0 %>
            <h4 class="comment-count"><%= cs %> Kommentar<%= "e" if cs > 1 %></h4>
          <% end %>
        <% end %>
        <%= render :partial => 'shared/comment', :collection => object.comments %>
        <%= render :partial => 'shared/newcomment', :locals => { :object => object } %>
      </div>
      