 <div class="faviconlist">
        <ul>
          <li><a style="background-image:url(/images/networks/blog.png)" href="http://www.arminsoyka.at/blog">Blog</a></li>
          <li><a style="background-image:url(/images/networks/twitter.png)" href="http://www.twitter.com/arminsoyka">Twitter</a></li>
          <li><a style="background-image:url(/images/networks/facebook.png)" href="http://www.facebook.com/arminsoyka">Facebook</a></li>
          <li><a style="background-image:url(/images/networks/youtube.png)" href="http://www.youtube.com/arminsoyka">YouTube</a></li>
          <li><a style="background-image:url(/images/networks/soup.png)" href="http://soup.arminsoyka.at">Soup.io</a></li>
        </ul>
   </div>
