<li class="project" id="project_<%= project.slug %>">
  <h3><%= link_to h(project.title), projectpage_path(:slug => project.slug) %></h3>
  <p class="byline">
    <div class="teaser"><%= h project.teaser %></div>
  </p>
</li>
