<script>
  Event.observe(window,'load', function() { Signup.required(); });
</script>
<div id="signup">
    <%= map_box('Melde dich an',true) %>
  <p id="cancel">
    <a href="#" onclick="Signup.hide();">Nein danke</a>
  </p>
</div>
