<li class="user" id="user_<%= user.id %>">
  <%= link_to(image_tag("http://graph.facebook.com/#{user.facebook_id}/picture"), "http://www.facebook.com/profile.php?id=#{user.facebook_id}") if user.facebook_id %>
  <%= user.name %>
</li>
