<div class="page">
  <h2>Schau vorbei</h2>
  <div class="content">
    <div id="events">
    <% @events.each { |event| %>
      <%= render :partial => 'shared/event', :locals => { :event => event } %>
    <% } %>
    </div>
  </div>
</div>
