<div class="page">
  <h2>Projekte für Wien</h2>
  <p>Hallo</p>
  <ul id="projectlist" class="itemlist content">
    <%= render :partial => "shared/project", :collection => @projects %>
  </ul>
</div>
