<div class="page">
  <%= render :partial => 'shared' %>
  <h2>Projekte für Wien</h2>
  <div class="content">
    <p>Ich habe es satt mir anzuhören, dass die Welt scheiße ist. Ich habe es satt mir anzuhören, dass die Jugend unpolitisch ist. Und ich habe es auch satt mir das ewige Politikerblabla anzuhören. Ich will, dass Politik mir und allen anderen nützt. Und ich will etwas tun! Und ich weiß, dass es ganz, ganz viele Jugendliche gibt, die das auch wollen. Es gibt eine politische Sehnsucht. Aber oft ist uns irgendwie nicht klar, was wir jetzt sofort Konkretes verändern können. Aber jeder von uns kann irgendetwas. Und was man kann, bringt man auch gerne ein. Jeder Mensch hat einen unsagbare Wert, das sollten wir nicht vergessen. Wir wollen nicht lange herumreden, sondern was bewegen. Ich fange an. Und du kommst mich. Auch wenn es uns niemand zutraut, wir können es anders machen. Hören wir auf zu fordern und beginnen wir zu arbeiten. Ich will nicht, dass Andere tun. Ich will selber machen.<br />
  Und es macht mir Spaß, mit vielen Anderen gemeinsam neue Wege zu beschreiten. Tun wir uns alle zusammen und beginnen wir. Überziehen wir Wien einfach selber mit einem kostenlosen, freien WLAN. Oder suchen wir uns selber Freiräume in dieser Stadt. Reißen wir die Macht an uns. Sagen wir, was wir wollen. Tun wir, wovon wir träumen. Jeder von uns hat kleine Dinge, über die er oder sie sich ärgert. Gemeinsam können wir das Gesicht dieser Stadt verändern.
  Wovon träumst du? Bring es ein. Gestalten wir gemeinsam unser Wien.</p>
      <ul id="projectlist" class="itemlist content">
      <%= render :partial => "shared/project", :collection => @projects %>
      </ul>
  </div>
</div>
