<div class="page">
  <h2>Mein Name ist Armin Soyka und ich kandidiere.</h2>
  <div class="content" id="about">
  <p>
    Am 10. Oktober dürfen in Wien rund 1,2 Millionen Menschen bestimmen, wer über
    sie bestimmt – und Du bist einer davon. Denn da wählt Wien einen neuen Gemeinderat.
    Das sind die 100 Leute, die im Rathaus sitzen und über Parks, Straßen, Schulen
    und Öffis entscheiden. Das sind die Leute, von denen du noch nie etwas gesehen hast –
    außer vielleicht auf Plakaten. Diese Politik im Dunklen interessiert mich nicht.
    Ich möchte das anders machen. Aber alleine werde ich nichts bewegen.
    Ich weiß, dass Politik uns alle etwas angeht. Aber nicht das was wir heute unter
    Politik verstehen (müssen) geht uns was an. Wir wollen Politik, die uns was nützt.
    Und für so eine Politik sind wir dann auch bereit zu arbeiten und uns einzubringen.
    Weil Wien die Stadt ist, in der wir 24 / 7 leben. Und weil wir das Recht haben zu
    entscheiden was geht und was nicht.
  </p>
  <p>
    Ich möchte, dass sich diese Stadt verändert und ich glaube, nein ich weiß, dass wir,
    jeder einzelne von uns, dafür verantwortlich sind, diese Veränderung herbeizuführen.
    Gandhi hat einmal gesagt: "Sei selbst die Veränderung, die du in der Welt sehen möchtest!"
    Das möchte ich leben. Aber alleine ist das weder erfolgreich, noch macht es Spaß.
    Wien gehört uns allen und Wien braucht uns alle. Deswegen kandidiere ich – ich möchte,
    dass die Jugendlichen dieser Stadt die Politik dieser Stadt (mit)bestimmen.
  </p>
  <h5>Wenn du mehr über mich wissen willst:</h5>
  <ul>
    <li><a href="http://arminsoyka.at/joomla">Klick dich einfach durch meine (alte) Webseite.</a></li>
    <li><a href="">schau meine Rede von der Landesversammlung an (Popup Landesversammlung)</a></li>
    <li><a href="">geh mit mir spazieren (Popup: Video Spaziergang mit Armin)</a></li>
    <li><%= link_to "stell mir eine Frage", questions_path %></li>
    <li><a href="mailto:as@arminsoyka.at">schreib mir eine Mail</a></li>
  </ul>
  <h5>Gefällt mir</h5>
  <ul>
    <li><a href="">Wähl mich am 10. Oktober (was bringt das?) (wie geht das?)</a></li>
    <li><a href="">Mach im Wahlkampf mit (das wird gebraucht!)</a></li>
  </ul>
  <h5>Gefällt mir nicht</h5>
  <ul>
    <li><a href="">Gib mir Feedback (Link, Popup), damit ich von dir lernen kann.</a></li>
    <li><a href="">Erzähl vielen Leuten von der Sache, damit sie sich ein eigenes Bild machen können</a></li>
  </ul>
  </div>
</div>
