<div class="page">
  <%= link_to "&larr; Zurück zur Startseite", root_path, :class => 'backbutton' %>
  <h2>Über diese Seite</h2>
  <div class="content" id="about">
    
    <a href="http://flickr.com/photos/peletiah/2824915965/sizes/l/in/set-72157607094904589/"><img src="http://farm4.static.flickr.com/3241/2824915965_0a39f6323e_m.jpg" /></a>
    <a href="http://flickr.com/photos/peletiah/2826761925/sizes/l/in/set-72157607094904589/"><img src="http://farm4.static.flickr.com/3032/2826761925_e120a5fcfd_m.jpg" /></a>
    <a href="http://flickr.com/photos/peletiah/2825752426/sizes/l/in/set-72157607094904589/"><img src="http://farm4.static.flickr.com/3084/2825752426_6af1bb0a83_m.jpg" /></a>

    <h4>Ein Experiment mit Partizipation</h4>

    <p>
      Schon bei der Gründung 1993 wurde von Heide Schmidt bewusst der Name "Liberales <strong>Forum</strong>"
      gewählt, um dem partizipativen, offenen Charakter der jungen Partei Rechnung zu tragen.<br />
      Aus dem Zusammentreffen der Renaissance des LIF mit dem Wiedereinzug ins Parlament
      und modernen Web 2.0-Technologien ergibt sich nun die einzigartige Chance, bei Kommunikation und
      Parteistruktur völlig neue Wege zu gehen.
    </p>
    
    <h4>Elemente der Selbstorganisation</h4>

    <p>
      Wir beginnen unsere Experimente in der Vorwahlzeit: Unser Onlinewahlkampf wird nicht von einer
      Agentur bestimmt und von oben herab organisiert — wir wollen stattdessen jene Menschen direkt
      ansprechen und untereinander vernetzen, die aktiv im Web auf Blogs oder Social Networks
      tätig sind, und ihnen die Werkzeuge zur Selbstorganisation rund um liberale Themen in die Hand geben. 
    </p>
        
    <p>
      Ein Tool um sich gegenseitig zu finden, vernetzen und treffen, sowie ein Forum zur Sammlung und
      kollaborativen Auswahl von Projektideen: Das sind die Keime, aus denen die Unterstützerplattform
      <strong>Diesmal-LIF.at</strong> wachsen soll.
    </p>

    <h4>Nachhaltigkeit statt Wahlkampfgag</h4>

    <p>
      Andere Parteien schmücken sich zur Zeit gerne mit dem Schlagwort "Web 2.0": Hier ein Blog, der am Tag nach
      der Wahl wieder abgedreht wird, dort ein <a href="http://www.twitter.com">Twitter</a>-Account,
      auf dem Ghostwriter unter dem Pseudonym des Spitzenkandidaten Monologe führen, ohne zur authentischen
      Kommunikation bereit zu sein.
    </p>
    
    <p>
      Das Liberale Forum aber meint es ernst: Wir haben uns dem neuen Weg der Online-Kommunikation
      verschrieben, und das gilt auch und vor allem nach der Wahl.
      Tools wie Twitter sollen persönlich von den Volksvertretern im Parlament benutzt werden, und 
      nicht vom Marketingstrategen im Wahlkampf.
    </p>
  
    <h4>Open Source</h4>

    <img src="/images/rails.gif" style="float: right" />
    <p>
      Da es uns letztlich nicht nur um uns und unsere Wählerschaft, sondern auch um die Förderung von
      politischer Partizipation generell geht, ist selbstverständlich: Die Software, die im Auftrag
      des LIF im Zuge dieses Prozesses entwickelt wird, steht in Kürze unter einer Open Source-Lizenz
      jedermann zur Verfügung.
    </p>

    <h4>Du weißt es besser als wir</h4>

    <p>
      Wir betonen den experimentellen Charakter unserer Aktivitäten &ndash; bestimmt machen wir Fehler.
      Deshalb wollen von <strong>dir</strong> wissen, was du von unseren bisherigen Ansätzen hältst, und welche
      Änderungsvorschläge und weiteren Ideen zum Thema Onlinepartizipation du hast.<br />
      Für Feedback ist unsere <%= link_to "Ideen-Sammlung", ideas_path %> ebenso offen wie unser
      Ohr: <a href="mailto:dialog@lif.at">dialog@lif.at</a>
    </p>

    <p style="padding-top: 2em; margin-bottom: 0; font-size: .8em;">
      <strong>Fotos</strong> von der Onlinewahlkampf-Ideenwerkstatt am 2.9.2008 in Wien: Christian Benke
    </p>

  </div>
</div>
