<div class="page">
  <h2>Was bisher geschah</h2>
  <div class="content">
    <iframe src="http://aktionenarminsoyka.soup.io/mini/430/30?css=<%= CONFIG["url"] %>/stylesheets/soup.css" width="510" height="850"></iframe>
    <a class="attribution" href="<%= CONFIG["elsewhere_link_url"] %>">Powered by Soup.io</a>
  </div>
</div>