<div class="page" id="privacypolicy">
  <%= link_to "&larr; Zurück zur Startseite", root_path, :class => 'backbutton' %>
  <h2>Datenschutzerklärung</h2>
  <div class="content">
  
    <p>    
      Das Liberale Forum nimmt den Schutz Ihrer persönlichen Daten sehr ernst und
      hält sich strikt an die Regeln der Datenschutzgesetze. Personenbezogene Daten werden
      auf dieser Webseite nur im technisch notwendigen Umfang oder nach freiwilliger
      Registrierung erhoben. In keinem Fall werden
      die erhobenen Daten verkauft oder aus anderen Gründen an Dritte weitergegeben.
    </p>
    <p>
      Die nachfolgende Erklärung gibt Ihnen einen Überblick darüber, wie wir diesen Schutz
      gewährleisten und welche Art von Daten zu welchem Zweck erhoben werden.
    </p>

    <h4>Registrierung</h4>
    <p>
      Wenn Sie auf Diesmal LIF mitdiskutieren, Videos aufnehmen etc. wollen, benötigen wir von Ihnen
      folgende Daten:
      <ul>
        <li><b>Benutzername</b> (Name, Pseudonym, Nickname o.Ä.): Wird neben Kommentaren und Videostatements angezeigt.</li>
        <li><b>E-Mail-Adresse</b>: Dient dazu, Ihnen ein Passwort zum Wieder-Einloggen, sowie (so vorhanden) Veranstaltungshinweise in Ihrer Umgebung zu senden. Eine Abbestellung der Veranstaltungshinweise ist jederzeit möglich.</li>
        <li><b>Ort</b>: Dient zur Anzeige von lokalen Veranstaltungen.</li>
      </ul>
      Weitere Daten werden nicht erhoben.
    </p>

    <p>
      Sie können nicht nur Ihre Einwilligung zur Speicherung dieser Daten jederzeit widerrufen, sondern
      sie auch jederzeit auf folgender Seite selbst löschen: <%= link_to "Benutzerdaten löschen", url_for(:controller => 'users', :action => 'deleteme') %>
    </p>
    
    <h4>Drittanbieter</h4>
    
    <p>
      Zur Lokalisierung der registrierten Benutzer und für die Darstellung der Karte wird <strong>Google Maps</strong>
      (<a href="http://www.google.com/intl/de_ALL/help/terms_maps.html">Nutzungsbedingungen</a>) verwendet.
      Der Video-Aufnahmeservice wird von <strong>Userplane</strong> (<a href="http://www.userplane.com/index.cfm?fuseaction=main.tos">Terms of Service</a>) zur Verfügung gestellt.
    </p>
    <p style="font-weight: bold">
      An keinen der beiden Dienste werden jegliche personenbezogene Daten weitergegeben.
    </p>
    
    <h4>Logfiles</h4>
    <p>
      Dieser Server erhebt und speichert automatisch wie im Internet üblich zur statistischen Auswertung
      Logfiles mit anonymisierten Informationen, die Ihr Browser an uns übermittelt. Dies sind:
      <ul>
        <li>Browsertyp/ -version</li>
        <li>verwendetes Betriebssystem</li>
        <li>Referrer URL (die Seite, über deren Link [falls vorhanden] sie auf Diesmal LIF gekommen sind)</li>
        <li>Hostname des zugreifenden Rechners (IP Adresse)</li>
        <li>Uhrzeit der Serveranfrage</li>
      </ul>
    </p>
    
    <p>
      Diese Daten sind für Diesmal LIF nicht bestimmten Personen zuordenbar.
      Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.
    </p>

    <h4>Cookies</h4>
    <p>
      Diese Seite verwendet so genannte „Session-Cookies“, um registrierte und eingeloggte Besucher
      über mehrere Seitenaufrufe hinweg wiederzuerkennen. Cookies richten auf Ihrem Rechner
      keinen Schaden an und können keine Viren enthalten.
    </p>

    <h4>Auskunftsrecht</h4>
    <p>
      Sie haben jederzeit das Recht auf Auskunft über die bezüglich Ihrer Person gespeicherten Daten,
      deren Herkunft und Empfänger sowie den Zweck der Speicherung. Auskunft über die gespeicherten
      Daten gibt der Datenschutzbeauftragte von Diesmal LIF <a href="mailto:dialog@lif.at">Christopher Clay</a>.
    </p>

    <h4>Weitere Informationen</h4>
    <p>
      Ihr Vertrauen ist uns wichtig. Daher möchten wir Ihnen jederzeit Rede und Antwort bezüglich
      der Verarbeitung Ihrer personenbezogenen Daten stehen. Wenn Sie Fragen haben, die Ihnen diese
      Datenschutzerklärung nicht beantworten konnte oder wenn Sie zu einem Punkt vertiefte Informationen
      wünschen, wenden Sie sich bitte jederzeit an den Datenschutzbeauftragten von Diesmal LIF
      <a href="mailto:dialog@lif.at">Christopher Clay</a>.
    </p>

  </div>
</div>
