<div class="page">
  <%= link_to "&larr; Zurück zur Startseite", root_path, :class => 'backbutton' %>
  <h2>Promo-Material/Folder bestellen</h2>
  <div class="content">

    <p>
      Brauchst du Folder und Flyer, um deinen Freunden und Bekannten das Wahlprogramm
      und die Kandidaten des Liberalen Forums näherzubringen?
    </p>
    <p>
      Melde dich bei <strong><a href="mailto:r.hoesl@lif.at">r.hoesl@lif.at</a></strong> (Rainer Hösl)!
    </p>
    
  </div>
</div>
