<div class="page">
  <%= link_to "&larr; Zurück zur Startseite", root_path, :class => 'backbutton' %>
  <h2>Impressum - Information gem. MedienG</h2>
  <div class="content">
  
    <h4>Redaktion & verantwortlich für den Inhalt dieser Seite</h4>
    <address>    
      <%= CONFIG["imprint"] %>
    </address>
    
    <h4>Medienrechtlicher Hinweis</h4>
    <p>
      Links auf andere Seiten im Internet dienen nur als Wegweiser.
      Die verlinkten Subpages oder Websites stehen jeweils unter eigener inhaltlicher
      Verantwortung der jeweiligen MedieninhaberInnen. <%= CONFIG["org_title"] %> hat keinerlei
      inhaltliche und/oder redaktionelle Verantwortung und übernimmt für die auf den
      verlinkten Subpages verbreiteten Inhalte daher ausdrücklich keine Haftung.
    </p>

  </div>
</div>
