<div class="page">
  <%= link_to "&larr; Zurück zur Startseite", root_path, :class => 'backbutton' %>
  <h2>Presse</h2>
  <div class="content">

    <p>
      Hier finden Sie eine Auswahl an Bildern und Materialien über den Vorzugsstimmenwahlkampf von Armin Soyka zum Download. Sie können die Fotos unter Nennung des Copyrights kostenfrei abdrucken. Für Rückfragen und Interview-Termine schreiben Sie bitte an <a href="mailto:presse@arminsoyka.at">presse@arminsoyka.at</a> oder wenden sich per Telefon an Lilly Maier (0664/4973736) oder an Armin Soyka (0650/5111347).
    </p>

    <p>
      Alle bisherigen Berichte finden Sie im <a href="http://pressearminsoyka.soup.io">Pressespiegel</a>.
    </p>

    <h4>Fotos</h4>

    <h5>Armin Soyka</h5>
    
    <div class="gallery">
      <a href="/images/presse/armin1.jpg"><img src="/images/presse/armin1_tn.jpg" /></a>
      <a href="/images/presse/armin2.jpg"><img src="/images/presse/armin2_tn.jpg" /></a>
      <a href="/images/presse/armin3.jpg"><img src="/images/presse/armin3_tn.jpg" /></a>
      <div class="credit">© Kaja Wostry</div>
    </div>

    <!--h5>Wahlkampfauftakt: Grüne Insel am 12.6.10</h5>

© Lilly Maier und ... -->

    <h5>Logo</h5>

    <div class="gallery">
      <a href="/images/presse/logo_illustration_vorzugsstimme_url.jpg"><img src="/images/presse/logo_illustration_vorzugsstimme_url_tn.jpg" /></a>
    </div>

     <h4>Flyer</h4>

    <div class="gallery">
      <a href="/images/presse/printfolderv10.pdf">
        <img src="/images/presse/printfolder_tn1.jpg" />
        <img src="/images/presse/printfolder_tn2.jpg" />
      </a>
    </div>

    <!--h4>Presseaussendungen</h4>

    <ul>
      <li>14.6.10 - Hier downloaden</li>
    </ul-->

  </div>
</div>
