<div class="page">
  <%= link_to "&larr; Zurück zur Startseite", root_path, :class => 'backbutton' %>
  <h2>Im Straßenwahlkampf helfen</h2>
  <div class="content">

    <p>
      Wir brauchen noch dringend freiwillige Helfer, die Zeit haben, uns tatkräftig im Straßenwahlkampf zu unterstützen.
    </p>
    <p>
      Eure Aufgabe: Frühstück, Flyer, Kullis, Werbematerialien verteilen.
    </p>
    <p>
      Als besonders Zuckerl würdet ihr an LIF-Events und Pressekonferenzen teilnehmen.
    </p>
    <p>
      Bitte bei Interesse unter <strong>0676 848 905 408</strong> (Jennifer Freiberger) melden
    </p>
    
  </div>
</div>
