<div class="page">
  <div class="header">
    <%= link_to "&larr; Zurück zur Startseite", root_path, :class => 'backbutton' %>
    <h2>E-Mail</h2>
  </div>
  <div class="content">
    
    <% if @failed %>

      <p>Die Nachricht konnte nicht zugestellt werden. Überprüfe bitte die Angaben.</p>
    
    <% else %>
    
      <p>Deine Nachricht wurde verschickt.</p>
    
    <% end %>

  </div>
</div>
