<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <%= javascript_include_tag :defaults %>
    <style>
      #new-event { background: #ccc; padding: 5px; }
      .admin-menu { margin-bottom: 20px; }
    </style>
  </head>
  <body id="admin">
    <div id="content">  
      <div class="page">
        <div class="navbar">
          <a href="/admin/" class="button">Übersicht</a>
          <a href="/admin/projects" class="button">Projekte</a>
          <a href="/admin/events" class="button">Events</a>
          <a href="/admin/candidates" class="button">Kandidaten</a>
          <a href="/admin/adminquestions" class="button">Fragen</a>
          <a href="/admin/pages" class="button">Seiten</a>
        </div>
        
        <hr />
        <%= yield %>
      </div>
    </div>
  </body>
</html>